
.main {
    width: 100vw;
    top: 30px;
    position: fixed;
    height: calc(100vh - 30px);
    background: linear-gradient(142deg, rgb(11, 59, 80) 0%, rgb(12, 52, 69) 26%, rgb(11, 42, 56) 50%, rgb(11, 32, 40) 74%, rgb(11, 29, 37) 100%);
}

.main h1 {
    text-align: center;
    position: relative;
    color: #577180;
    top: 35px;
    font-size: 35px;
}

.main .line {
    background-color: #1D3B49;
}

.main .line.vertical {
    width: 1px;
    position: relative;
    margin: auto;
}

.main .line.curve {
    margin: 0 auto;
    position: relative;
    background-color: transparent;
    width: 20px;
    height: 20px;
}

.main .line.curve.left {
    right: 20px;
    border-top: 1px solid #1D3B49;
    border-left: 1px solid #1D3B49;
    border-top-left-radius: 20px;
    float: left;
}

.main .line.curve.right {
    left: 20px;
    border-top: 1px solid #1D3B49;
    border-right: 1px solid #1D3B49;
    border-top-right-radius: 20px;
    float: right;
}

.main .line.curve.up {
    transform: rotate(90deg);
    top: -20px;
}

.main .line.horizontal {
    height: 1px;
    position: absolute;
}

.main .line.horizontal.left {
    right: 50%;
}

.main .line.horizontal.right {
    left: 50%;
}

.main .status {
    width: 100px;
    background-color: #1D3B49;
    height: 20px;
    border-radius: 10px;
    position: relative;
    margin: auto;
    transition: all 700ms ease;
}

.main .status.check {
    width: 20px;
}

.main .status .check.enabled {
    background-color: #00B20A;
}

.main .status .check.disabled {
    background-color: #E81123;
}
.main .status .check.thinking{
    background-color: rgba(251, 219, 12, 0.82);
}



.main .status.check .check-rip {
    height: 22px;
    width: 22px;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    position: absolute;
    background-color: transparent;
    border: 1px solid rgba(0, 178, 10, 0.55);
    z-index: -1;
}

.main .status.check .check-rip.two {
    height: 26px;
    width: 26px;
    border: 1px solid rgba(0, 178, 10, 0.21);
    left: -4px;
    top: -4px;
}


.main .status .check.disabled .check-rip,{
      border: 1px solid rgba(232, 17, 35, 0.50);
}

.main .status.check.disabled .check-rip.two {
    border: 1px solid rgba(232, 17, 35, 0.39);
}




.main .status .check.thinking .check-rip,{
      border: 1px solid rgba(251, 219, 12, 0.55);
}

.main .status.check.thinking .check-rip.two {
    border: 1px solid rgba(251, 219, 12, 0.21);
}

.main .status .check {
    height: 20px;
    width: 20px;
    position: absolute;
    float: left;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
}

.main .status .check i {
    position: relative;
    margin-left: 5px;
    font-size: 13px;
    top: 2px;
}

.main .status span {
    position: relative;
    float: left;
    margin-left: 26px;
    height: 100%;
    line-height: 20px;
}

.main .section {
    position: relative;
    margin: auto;
}

.main .section h2 {
    text-align: center;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    padding-bottom: 20px;
    border-bottom: 1px solid #304E5B;
}

.main .pc {
    width: 80px;
    background-color: #1D3B49;
    height: 80px;
    top: -10px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin: auto;
}

.main .pc.darwin object {
    width: 85%;
    position: relative;
    margin: auto;
    display: block;
    top: 5px;
}

.main .pc.win32 object {
    width: 60%;
    position: relative;
    margin: auto;
    display: block;
    top: 18px;
    left: 1px;
}

.main .jump {
    position: relative;
    display: block;
    left: 250px;
    top: -120px;
    margin: auto;
}

.main .globe {
    position: relative;
    display: block;
    top: 80px;
    margin: auto;
}




.main .section .adaptor {
    position: absolute;
    width: 100%;
}

.main .section .adaptor p {
    color: #8A9DB1;
    font-size: 14px;
    position: relative;
    height: 15px;
    font-weight: 400;
}

.main .section .adaptor .sep:first-of-type {
    margin-bottom: 10px;
}

.main .section .adaptor .sep {
    position: relative;
    width: 100%;
    height: 0px;
    margin-bottom: 7px;
}

.main .section .adaptor span {
    right: 0;
    color: #8A9DB1;
    font-size: 14px;
    position: absolute;
}



















.main .section .settings {
    position: absolute;
    width: 100%;
}

.main .section .settings span {
    position: absolute;
    color: #8A9DB1;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
}

.main .section .settings p.input {
    line-height: 20px;
    height: 20px;
    color: #8A9DB1;
    top: 1px;
    font-size: 14px;
    position: relative;
    font-weight: 400;
    margin-bottom: 1px;
    box-sizing: border-box;
}



.main .section .settings input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 1px #00B20A;
}

.main .section .settings input.error{
       outline: none;
    border-color: #E81123;
    box-shadow: 0 0 1px #E81123; 
}

.main .section .settings input {
    font-size: 14px;
    width: 100%;
    cursor: text;
    right: 0;
    border: none;
    box-sizing: border-box;
    height: 20px;
    color: white;
    background-color: #1D3B49;
}

.main .section .settings .sep {
    position: relative;
    width: 100%;
    height: 0px;
    margin-bottom: 10px;
}

.main .section .settings .sep:first-of-type {
    margin-bottom: 10px;
}

.main .section .settings .toggler {
    margin-left: calc(100% - 45px);
}

.main .section .settings .lbl {
    position: relative;
    display: block;
    height: 18px;
    width: 44px;
    background: #1D3B49;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main .section .settings .lbl:after {
    position: absolute;
    left: -2px;
    top: -2px;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    content: '';
    transition: all 0.3s ease;
}

.main .section .settings .toggle:checked ~ label {
    background: rgba(0, 178, 10, 0.33);
}

.main .section .settings .toggle:checked ~ label:after {
    left: 20px;
    background: #00B20A;
    box-shadow: 0 0 10px rgba(0, 178, 10, 0.48);
}


.main .bottom-bar {
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 100vw;
}

.main .bottom-bar i {
    float: right;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.94);
    margin-right: 10px;
    font-size: 20px;
    transition: opacity 200ms ease-in-out;
}

.main .bottom-bar i:hover {
    opacity: 0.7;
}

.main .bottom-bar .version {
    bottom: 0;
    position: absolute;
    font-size: 13px;
    color: aliceblue;
    margin-left: 5px;
    font-style: italic;
}

.main .bottom-bar .update{
    color: #028E02;
    font-weight: 600;
    margin-left: 5px;
    cursor: pointer;
    font-style: normal;
}


.main .section .settings .key-show{
    position: absolute;
    right: 10px;
    font-size: 18px;
    z-index: 2;
    cursor: pointer;
}